.projects__grid {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: 2em;
}

body {
    overflow: ''; /* used to stop scrolling in that layer when the popup is shown */
}

.all__project__btn {
    margin-top: 2.4em;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
  
.close-button:hover {
    color: rgb(100, 100, 100);
}

.arrow-text {
    /* text styles */
    font-size: 16px;
    line-height: 1;
}
