.project2 {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    width: 65%;
}

.project-container {
    display: flex; /* Use flex to make them side by side */
    margin-bottom: 20px; /* Adjust spacing between project containers */
}
  
.project2:hover {
    transform: translateY(-7px);
}
  
.project__description {
    margin-top: 1em;
}
  
.project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.2em 0;
}
  
.project__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
}
  
.project .link--icon {
    margin-left: 0.5em;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--clr-bg);
    padding: 45px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    max-width: 1000px;
    /* z-index: 9999; */
    /* Call fadeIn animation and add fadeIn animation properties */
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: none;
}

/* text color for 'Frontend', 'Backend', 'Data', and 'To be added' hooks */
.iKctXO {
    color: #2978b5 !important;
}

/* text color for 'Summary' hook only due to media field, color is inherited from .light instead */
.lfAmiB {
    color: #2978b5 !important;
}

.cMduzL:hover {
    transform: scale(200%);
    transform-origin: top left;
    /* for vertical
    position: relative;
    margin-top: 88px; */
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#images {
  width: 100%;
  height: 355px;
  text-align: center;
}

#container-1 {
  display: inline-block;
  background-color: #fff;
  width: 10%;
  height: 355px;
  transition: .5s ease-in-out;
  margin-right: 5px; /* Add margin to create spacing */
  background-image: url(../../../public/images/testing.jpg)
}

#container-1:hover {
  background-color: #189fff;
  width: 60%;
  height: 355px;
}

.container {
  width: 10%;
  height: 355px;
  background-color: #fff;
  display: inline-block;
  transition: .5s ease-in-out;
  margin-right: 5px; /* Add margin to create spacing */
}

.container:hover {
  background-color: #189fff;
  width: 60%;
  height: 355px;
}
